/*!
 * Start Bootstrap - Shop Item (https://startbootstrap.com/template-overviews/shop-item)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-item/blob/master/LICENSE)
 */
body{
  margin: 0;
  padding: 0;
}

.clearfix{
  clear: both;
}

* {
  box-sizing: border-box;
}
.container{
  width: 1170px;
  margin: 0 auto;
}

.head-top{
  background: linear-gradient(-35deg, #9119B3 0%, #E64C4C 88%);
}

.head-top .container{
  height: 40px;
}

.head-top .head-top-left{
  box-sizing: border-box;
  font-family: 'Roboto', "Helvetica Neue","Helvetica","Arial",sans-serif;;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
  float: left;
}

.head-top .head-top-right{
  box-sizing: border-box;
  font-family: 'Roboto', "Helvetica Neue","Helvetica","Arial",sans-serif;;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
  float: right;
}

.menu ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding-right: 10px;
}
.menu li {
  color: #fff;
  display: inline-block;
  line-height: 40px;
  margin-left: 10px;
}
.menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.head-top .head-side{
  box-sizing: border-box;
  font-family: 'Roboto', "Helvetica Neue","Helvetica","Arial",sans-serif;;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
  float: right;
}

.side ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding-right: 0px;
}
.side li {
  color: #fff;
  display: inline-block;
  line-height: 40px;
  margin-left: 10px;
}
.side a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.head-bottom{
  background-color: #000000;
}

.head-bottom .container{
  height: 146px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-bottom .main-menu{
  font-size: .875em;
  width: auto;
  margin-left: -150px;
}

.main ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding-right: 10px;
}
.main li {
  color: #fff;
  display: inline-block;
  margin-left: 10px;
}
.main a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.dropiphone {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.main .dropdown-content a{
  color: #000;
  text-align: left;
  padding: 6px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropiphone {
  background-color: #000000;
}

.Search {
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
}

.Search a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Search a:hover {
  background-color: #fff;
  color: black;
}

.Search a.active {
  background-color: #2196F3;
  color: white;
}

.Search .form {
  float: right;
}

.Search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
}

.Search .form button {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 8px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.Search .form button:hover {
  background: #fff;
}

#banner_ads .items{
  width: 100%;
}

#banner_ads .items img{
  width: 100%;
}
.slick-next{
  right: 0;
}
.slick-prev{
  left: 0;
}
@media screen and (max-width: 600px) {
  .Search .form {
    float: none;
  }
  .Search a, .Search input[type=text], .Search .form button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .Search input[type=text] {
    border: 1px solid #ccc;  
  }
}

.container .section-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.214;
  margin-top: 4em;
  margin-bottom: 3em;
}

.iphone-show ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.iphone-show li {
  color: #000;
  width: 20%;
  flex: 0 0 20%;
  margin-bottom: 30px;
  padding: 0 15px;
}
.iphone-show a {
  text-decoration: none;
  color: #000;
  display: block;
}

.iphone-show .img-product{
  height: 230px;
}

.iphone-show .img-product img{
  width: 100%;
}

.iphone-show .name-product{
  text-align: center; 
}

.iphone-show .price {
  color: #E64C4C;
  text-align: center;
  padding-top: 15px; 
}

footer {
  background: url(../images/bg-footer.jpg);
  height: 600px;
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  position: relative;
  font-weight: 300;
}

.store {
  padding-top: 4em;
  display: block;
  width: 30%;
  float: left;
}

.store a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.lien-he {
  padding-top: 4em;
  display: block;
  width: 30%;
  float: left;
  margin-left: 30px;
}

.lien-he a{
  color: #fff;
  text-decoration: none;
  padding-bottom: 40px;
}

.face {
  padding-top: 4em;
  display: block;
  width: 30%;
  float: left;
  margin-left: 40px;
}

.face a{
  color: #fff;
  text-decoration: none;
  margin-left: 12px;
}

.logo-web {
  text-align: center;
  margin-top: 5em;
  padding: 2.8em;
}