
/*
Theme Name:   	Storefront Child Theme
Theme URI:    	#
Author:       	Tran Thai Hoang
Author URI:     http://tranthaihoang.github.io
Template:     	storefront
Description:  	Một child theme trống hoàn toàn dành cho Storefront, dùng để tùy biến lại theme storefront mà không bị mất khi update
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
*/
@import url("../storefront/style.css");

  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    src: url('fonts/SF-Pro-Text-Regular.otf');
  }
  @font-face {
    font-family: 'SF Pro Text';
    font-style: italic;
    src: url('fonts/SF-Pro-Text-RegularItalic.otf');
  }
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/SF-Pro-Text-Bold.otf');
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto');
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

  @font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-Light.ttf');
  }
body{
    font-family: 'Roboto', "Helvetica Neue","Helvetica","Arial",sans-serif;
    /* font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif; */
}

a:focus{
    outline: none;
}
.site-header {
    background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
}
.site-info{
    text-align: center;
}
.metaslider{
    margin-bottom: 40px;
}
.metaslider ul li img{
    border-radius: 0;
}
/* Footer */
.wrap-footer h3{
    /* font-weight: 500; */
    font-family: 'Roboto Condensed', sans-serif;
}

.wrap-footer .box-address{
    margin-bottom: 20px;
}
.wrap-footer .box-address .title{
    margin-bottom: 0;
    /* font-weight: 500; */
    font-family: 'Roboto Condensed', sans-serif;
}
.wrap-footer .box-about a{
    display: block;
    margin-bottom: 10px;
}
.wrap-footer .box-social a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.wrap-footer .box-social i{
    margin-right: 10px;
    font-size: 25px;
}
.site-footer {
    background: url('images/bg-footer.jpg');
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    position: relative;
    font-weight: 300;
}

.site-footer::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.site-footer .col-full{
    z-index: 2;
    position: relative;
}
.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6{
    color: #fff;
}
.site-footer a:not(.button){
    color: #fff;
}
.storefront-product-section .section-title{
    text-align: left;
    display: inline-block;
    position: relative;
}

ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2, ul.products li.product h3{
    min-height: 17px;
    font-size: 14px;
}
ul.products li.product .price{
    color: #e10c00;
    font-size: 14px;
    /* font-weight: 500; */
    height: 20px;
}
ul.products li.product{
    margin-bottom: 30px;
}
.single-product div.product p.price{
    font-size: 24px;
    color: #e10c00;
    font-weight: bold;
}
ul.products li.product .button{
    /* display: none; */
}

.storefront-handheld-footer-bar ul li>a{
    height: 45px;
}

.storefront-handheld-footer-bar ul li > a::before{
    line-height: 45px;
    font-size: 20px;
}
.storefront-handheld-footer-bar ul li.cart .count{
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.woocommerce-info, .woocommerce-message, .woocommerce-noreviews, p.no-comments{
    background-image: linear-gradient(-35deg, #289DCC 3%, #815EFF 94%);
    border-left: none;
}
.single_add_to_cart_button{
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d);
    border-radius: 4px;
}
.wc-proceed-to-checkout .button.checkout-button{
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d);
    border-radius: 4px;
}
.quantity .qty{
    border-radius: 4px;
}

ul.products li.product .woocommerce-LoopProduct-link{
    position: relative;
}

.onsale{
    background: #ee170b;
    color: #fff;
    border: none;
}
ul.products li.product .woocommerce-LoopProduct-link .onsale{
    display: none;
}
.sale-perc {
    background: #ee170b;
    color: #fff;
    padding: .202em .6180469716em;
    font-size: .875em;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1em;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}
.select_option_colorpicker.select_option.selected{
    border: 2px solid red;
}
a.reset_variations{
    display: none!important;
}
.single-product div.product .single_variation .price{
    font-size: 40px;
    color: #e10c00;
    font-weight: bold;
}

.box-shop-about {
    display: flex;
}

.box-shop-about .img{
    width: 50%;
}

.box-shop-about .content{
    padding-left: 30px;
    width: 50%;
}
.box-shop-about .content h2{
    font-weight: bold;
}

.box-shop-about .content .line-info{
    display: flex;
}
.box-shop-about .content .line-info .icon{
    font-size: 20px;
    margin-right: 5px;
    width: 30px;
}
.box-map{
    margin-bottom: 30px;
}
.box-map iframe{
   width: 100%;
   height: 400px;
}
.site-search .widget_product_search form input[type=search], .site-search .widget_product_search form input[type=text]{
    border-radius: 50px;
}
.author_design{
    color: #ccc;
    font-size: 11px;
}
.author_design a{
    color: #ccc!important;
    font-size: 11px;
}

.slide-facebook-post{
    margin-right: -15px;
    margin-left: -15px;
}
.slide-facebook-post .item{
    padding: 0 15px 10px 15px;
    outline: none;
    border: none;
    height: auto;
    text-decoration: none;
}
.slide-facebook-post .item .box{
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    overflow: hidden;
}
.slide-facebook-post .item .img{
    height: 220px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition:all 0.3s linear;
}
.slide-facebook-post .item:hover .img{
    transform: scale(1.05);
}
.slide-facebook-post .item .time{
    color: #ccc;
    font-size: 12px;
}
.slide-facebook-post .item .content{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
}
.slide-facebook-post .item .detail{
    font-size: 13px;
}
.header-top{
    background-image: linear-gradient(-35deg, #9119B3 0%, #E64C4C 88%);
}
.header-top .header-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    color: #fff;
    padding-right: 120px;
}

.header-top .header-content .hotline {
    padding-left: 15px;
    position: relative;
    font-size: 13px;
}

.header-top .header-content .hotline::before{
    font-family: "FontAwesome";
    content: '\f095';
    position: absolute;
    left: 0;
    font-size: 12px;
    top: 3px;
}
.header-top nav{
    line-height: 40px;
}
.header-top nav a{
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
}

.wrap-list-facebook {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fcfbf6;
    /* background-image: url('images/patter_abc.jpg'); */
}
.wrap-list-facebook h2{
    color: #000;
}
#yith-quick-view-modal #yith-quick-view-content{
    padding: 20px;
}
#yith-quick-view-content div.summary{
    width: 50%;
}

.site-main ul.products li.product {
    position: relative;
    overflow: hidden;
}
.site-main ul.products li.product img{
    transform: scale(1);
    transition:all 0.3s linear;
}
.site-main ul.products li.product:hover img{
    transform: scale(1.1);
}
ul.products li.product .added_to_cart{
    display: none;
}
ul.products li.product .add_to_cart_button, ul.products li.product .ajax_add_to_cart{
    position: absolute;
    top: 25%;
    left: -150px;
    width: 30px;
    height: 38px;
    overflow: hidden;
    opacity: 0;
    color: #43454b;
    z-index: 2;
    transition:all 0.3s linear;
}
ul.products li.product .add_to_cart_button::before{
    font-family: "FontAwesome";
    content: '\f290';
    position: absolute;
    color: #fff;
    left: 13px;
    top: 7px;
}
ul.products li.product .ajax_add_to_cart::before{
    font-family: "FontAwesome";
    content: '\f290';
    position: absolute;
    color: #fff;
    left: 13px;
    top: 7px;
}
ul.products li.product .yith-wcqv-button{
    position: absolute;
    top: 25%;
    right: -150px;
    width: 30px;
    height: 38px;
    overflow: hidden;
    opacity: 0;
    color: #43454b;
    z-index: 2;
    transition:all 0.3s linear;
}
ul.products li.product .yith-wcqv-button::before{
    font-family: "FontAwesome";
    content: '\f06e';
    position: absolute;
    color: #fff;
    left: 13px;
    top: 7px;
}
.site-main ul.products li:hover .add_to_cart_button{
    left: 35px;
    opacity: 1;
}
.site-main ul.products li:hover .ajax_add_to_cart{
    left:35px;
    opacity: 1;
}

.site-main ul.products li:hover .yith-wcqv-button{
    right: 35px;
    opacity: 1;
}
.site-main ul.products .button:hover{
    color: #d5d5d5;
}
.site-main ul.products .button:hover::before{
    color: #ee170b;
}

h2.section-title{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

h2.section-title::after{
    content: '';
    display: block;
    height: 2px;
    width: 71px;
    background: #000;
    position: absolute;
    right: -78px;
    top: 48%;
}
/* .site-content{
    background-image: url('images/bg-box-iphone.jpg');
    background-repeat: no-repeat;
    background-position-y: 500px;
    background-attachment: fixed;
}
.site-content .col-full{

} */

.product-list-custom{
    margin-top: 20px;
}

.box-info-pro {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    background-image: url('images/iphone-box.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
.box-info-pro .item {
    display: flex;
    align-items: center;
    margin: 30px 0;
    width: 350px;
}

.box-info-pro .item .icon{
    width: 70px;
    flex-shrink: 0;
}
.box-info-pro .content .title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;
}
.box-info-pro .content .discrition{
    margin-bottom: 0;
    font-size: 14px;
}

.site-header ul.menu li.current-menu-item > a{
    color: #000;
    background: #ccc;
}

h2 a{
    font-weight: 400;
}

ul.products li.product{
    min-height: 280px;
}
.widget_price_filter .price_slider_amount .button{
    float: none;
}
.widget_price_filter .ui-slider .ui-slider-range{
    background-image: linear-gradient(-35deg, #9119B3 0%, #E64C4C 88%);
}
.widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #E64C4C;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child{
    background-color: #9119B3;
}
@media (min-width: 768px){
    .site-header{
        max-height: 162px;
    }
    .site-header-cart .cart-contents{
        width: 65px;
        padding: 0;
        font-size: 13px;
    }
    .site-header .col-full{
        display: flex;
        align-items: center;
        position: relative;
        max-height: 132px;
    }
    #site-header-cart{
        position: absolute;
        top: -160px;
        right: 2.617924em;
        width: 60px;
    }
    .site-header-cart .widget_shopping_cart{
        width: 250px;
    }
    .site-header-cart.focus .widget_shopping_cart, .site-header-cart:hover .widget_shopping_cart{
        left: -190px;
    }
    .site-header #site-navigation{
        display: none;
    }
    .site-header-cart .cart-contents .amount{
        display: none;
    }
    .secondary-navigation ul.menu a{
        font-size: 11px;
    }
    .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation{
        display: flex;
        justify-content: center;
    }

    .storefront-secondary-navigation.woocommerce-active .site-header .site-branding{
        margin-bottom: 0;
    }
    .woocommerce-active .site-header .site-search{
        margin-bottom: 0;
    }
    .secondary-navigation .menu ul a{
        padding: 15px .875em
    }
    .secondary-navigation .menu ul a:hover{
        color: #000;
        background: #eee;
    }
    .secondary-navigation ul.sub-menu{
        background: #fff;
        box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    }
    .secondary-navigation .menu ul li a{
        background: #fff;
        color: #000;
    }
    .site-header .secondary-navigation{
        margin-bottom: 18px;
    }
    .main-navigation ul.menu > li.menu-item-has-children > a::after, .main-navigation ul.menu > li.page_item_has_children > a::after, .main-navigation ul.nav-menu > li.menu-item-has-children > a::after, .main-navigation ul.nav-menu > li.page_item_has_children > a::after{
        display: none;
    }
    .main-navigation ul.menu ul a:hover{
        background-color: #ccc!important;
        color: #000000;
    }
    .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
        padding: 10px 15px;
    }

    ul.products.columns-5 li:nth-child(5n+5){
        margin-right: 0!important;
    }
}


@media (max-width: 768px){

    .secondary-navigation ul.menu a{
        font-size: 7px;
    }
    .secondary-navigation .menu ul li a{
        padding: 1em;
    }
    .box-info-pro{
        display: none;
    }
    .header-top .header-content{
        padding: 0;
    }
    h2.section-title{
        font-size: 18px;
    }
    ul.products li.product .price{
        margin-bottom: 0
    }
    .box-shop-about{
        flex-direction: column;
    }
    .box-shop-about .content{
        width: 100%;
        padding: 0;
    }
    .box-shop-about .img{
        width: 100%;
        margin-bottom: 20px;
    }
    .site-header .custom-logo-link img{
        max-width: 150px;
    }

    ul.products li.product{
        width: 50%;
        float: left;
        padding: 0 10px;
        min-height: 275px;
    }
    .header-top nav{
        display: none;
    }
    .header-top .header-content{
        /* height: 20px; */
    }
    ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2{
        /* min-height: 33px; */
    }
}
